/*
* Variant: Rosé Pine
* Maintainer: DankChoir
*/

@define-color base            #191724;
@define-color base_transparent  rgba(25, 23, 36, 0.65);
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;

* {
  font-family: "AdwaitaMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
}

#waybar {
    background-color: @base_transparent;
    border-bottom: 2px solid @highlightHigh;
    color: @text;
}

#custom-lock,
#custom-reboot,
#custom-power,
#clock,
#network,
#custom-vpn,
#pulseaudio,
#memory,
#cpu {
    padding: 0 4px 0 10px;
}

#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover,
#clock:hover,
#network:hover,
#custom-vpn:hover,
#pulseaudio:hover,
#memory:hover,
#cpu:hover {
    background-color: @highlightHigh;
    border-radius: 10px;
    font-size: 24px;
}

#workspaces button {
    padding: 0 6px;
    color: @text;
    background: transparent;
    border: none;
    border-radius: 0;
}
#workspaces button.active {
    color: @gold;
    border-bottom: 2px solid @gold;
}
#workspaces button.empty {
    color: @subtle;
}

#custom-lock {
    color: @foam;
}

#custom-reboot {
    color: @gold;
}

#custom-power {
    color: @love;
}

#network {
    color: @gold;
}

#custom-vpn {
    color: @rose;
}

#pulseaudio {
    color: @pine;
}

#memory {
    color: @foam;
}

#cpu {
    color: @iris;
}
