@import "/home/ohad/env/themes/current/waybar.css";

* {
  font-family: "AdwaitaMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
}

#waybar {
    background-color: @bg;
    border-bottom: 2px solid @bb;
    color: @text;
}

#custom-lock,
#custom-reboot,
#custom-power,
#clock,
#network,
#custom-vpn,
#pulseaudio,
#memory,
#cpu {
    padding: 0 4px 0 10px;
}

#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover,
#clock:hover,
#network:hover,
#custom-vpn:hover,
#pulseaudio:hover,
#memory:hover,
#cpu:hover {
    background-color: @hbc;
    border-radius: 10px;
    font-size: 24px;
}

#workspaces button {
    padding: 0 6px;
    color: @text;
    background: transparent;
    border: none;
    border-radius: 0;
}
#workspaces button.active {
    color: @ba;
    border-bottom: 2px solid @ba;
}
#workspaces button.empty {
    color: @bec;
}

#custom-lock {
    color: @lock;
}

#custom-reboot {
    color: @reboot;
}

#custom-power {
    color: @power;
}

#network {
    color: @network;
}

#custom-vpn {
    color: @vpn;
}

#pulseaudio {
    color: @audio;
}

#memory {
    color: @mem;
}

#cpu {
    color: @cpu;
}
